<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Saturnus Income Predictor</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="semantic/semantic.min.js"></script>
	<script src="js/vue.min.js"></script>
</head>
<body>
	<div class="ui container" id="app">
			<form action="" v-on:submit.prevent="postData">
			<div class="ui input">
			  <input type="number" min=0 placeholder="Age" v-model="age">
	 		 </div>
	 		 <div class="ui input">
	 		  <select class="ui compact selection dropdown" v-model="workclass">
			    <option value=? selected disabled>Workclass</option>
			    {% for x in discrete_feature_domains['workclass'] %}
			    <option value={{x}}> {{x}} </option>
			    {% endfor %}
			  </select>
			</div>
			<div class="ui input">
			  <input type="number" v-model="fnlwgt" placeholder="Final Weight" min="1">
			</div>
			<div class="ui input">
				<select v-model="education" class="ui compact selection dropdown">
				  	<option selected disabled value="?">Education</option>
				  	{% for x in discrete_feature_domains['education'] %}
				  	<option value={{x}}> {{x}} </option>
				    {% endfor %}		  
				</select>
			</div>

			<div class="ui input">
				<input type="number" v-model="education_num" placeholder="Education Num">
			</div>

			<div class="ui input">
				<select v-model="marital_status" class="ui compact selection dropdown">
				  	<option selected disabled value="?">Marital-Status</option>
				  	{% for x in discrete_feature_domains['marital-status'] %}
				  	<option value={{x}}> {{x}} </option>
				    {% endfor %}		  
				</select>
			</div>
			<div class="ui input">
				<input type="submit" value="Submit">
			</div>
		</form>
		</div>
	<div class="ui basic modal">

	</div>
</body>
	<script src="js/app.js"></script>
</html>