<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <!-- Custom fonts for this template -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> !-->
    <link rel="stylesheet" href="css/app.css">
    <!-- Plugin CSS -->
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Income Predictor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Predict</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Predict your income now</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Curious about what your income will be? Don't just sit there and stare at your scrreen! Income predictor will predict you income based on your age, work class, education, nationality, and many more. Our predictor has been tested to have more than 85% accuracy!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Start Predict</a>
          </div>
        </div>
      </div>
    </header>

    <section id="services">
      <form action="" v-on:submit.prevent="postData">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Predict Income</h2>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <div class="container form-container">
          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="age">Age</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <input type="number" id="age" v-model="age" class="form-control" min=0>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="workclass">Workclass</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select class="form-control" id="workclass" v-model="workclass">
                  {% for x in discrete_feature_domains['workclass'] %}
                  <option value={{x}}> {{x}} </option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="fnlwgt">Final Weight</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
              <input type="number" id="fnlwgt" v-model="fnlwgt" class="form-control" min=0>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="education">Education</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select id="education" v-model="education" class="form-control">
                  {% for x in discrete_feature_domains['education'] %}
                  <option value={{x}}> {{x}} </option>
                  {% endfor %}      
                </select>
            </div>
          </div>
          
            
          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="education_num">Education Number</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <input type="number" id="education_num" v-model="education_num" class="form-control" min=0 >
            </div>
          </div>

           <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="marital_status">Marital Status</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                 <select id="marital_status" v-model="marital_status" class="form-control">
                    {% for x in discrete_feature_domains['marital-status'] %}
                    <option value={{x}}> {{x}} </option>
                    {% endfor %}      
                </select>
            </div>
          </div>

         
           <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="occupation">Occupation</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select id="occupation" v-model="occupation" class="form-control">
                    {% for x in discrete_feature_domains['occupation'] %}
                    <option value={{x}}> {{x}} </option>
                    {% endfor %}      
                </select>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="relationship">Relationship</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select id="relationship" v-model="relationship" class="form-control">
                    {% for x in discrete_feature_domains['relationship'] %}
                    <option value={{x}}> {{x}} </option>
                    {% endfor %}      
                </select>
            </div>
        
          </div>
      
          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="race">Race</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select id="race" v-model="race" class="form-control">
                  {% for x in discrete_feature_domains['race'] %}
                  <option value={{x}}> {{x}} </option>
                  {% endfor %}      
              </select>
            </div>
          </div>
          

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="sex">Sex</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <select v-model="sex" id="sex" class="form-control">
                    {% for x in discrete_feature_domains['sex'] %}
                    <option value={{x}}> {{x}} </option>
                    {% endfor %}      
                </select>
            </div>
          </div>
          

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="capital_gain">Capital Gain</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
                <input type="number" id="capital_gain" v-model="capital_gain" class="form-control">
            </div>
          </div>
            

          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="capital_loss">Capital Loss</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
              <input type="number" id="capital_loss" v-model="capital_loss" class="form-control">
            </div>
          </div>

          
          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="hours_per_week">Hour per Week</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
              <input type="number" id="hours_per_week" v-model="hours_per_week" class="form-control">
            </div>
          </div>
          


          <div class="row">
            <div class="col-md-4 text-md-right col-xs-12 text-center">
              <h4><label for="native_country">Native country</label></h4>
            </div>
            <div class="col-md-6 col-xs-12">
              <select v-model="native_country" id="native_country" class="form-control">
                  {% for x in discrete_feature_domains['native-country'] %}
                  <option value={{x}}> {{x}} </option>
                  {% endfor %}      
              </select>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-12 text-center text-white">
              <button class="btn btn-primary btn-xl js-scroll-trigger" type="submit">What's my income?</button>
            </div>
          </div>
        </div>
        </form>
      </section>

    <section class="bg-primary" id="result">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Your result:</h2>
            <hr class="light my-4">
            <h1 class="text-faded mb-4">
              <div v-if="view_data.loading">
                <div class="loader"></div>
              </div>
              <div v-else="!view_data.loading">
                <div>
                  {% raw %}
                  {{view_data.result}}
                  {% endraw %}
                </div>
              </div>
            </h1>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Re-predict?</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white" id="contact">
      <div class="container text-center">
        <h2 class="mb-4">Our team</h2>
        <div class="text-white text-left" style="display: inline-block">
          <p>13515001 - Jonathan Christopher</p>
          <p>13515008 - Kanisius Kenneth Halim</p>
          <p>13515052 - Kevin Jonathan</p>
          <p>13515064 - Tasya</p>
          <p>13515065 - Felix Limanta</p>
        </div>
      </div>
    </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.min.js"></script>

        <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <script src="js/app.js"></script>

  </body>

</html>
